h1 {
    background-color: green;
    color: white;
    padding: 10px;
    padding-left: 10px;
}
h2 {
    background-color: green;
    color: white;
    padding: 10px;
    padding-left: 10px;
}
h3 {
    background-color: green;
    color: white;
    padding: 10px;
    padding-left: 10px;
}
h4 {
    background-color: green;
    color: white;
    padding: 10px;
    padding-left: 10px;
}
h5 {
    background-color: green;
    color: white;
    padding: 10px;
    padding-left: 10px;
}